.aboutDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    margin-top: 3rem;
}

/* FAN ENGAGEMENT */

.fanEngagementLeftDiv {
    width: 100%;
    display: flex;
    gap: 6rem;
    margin-top: 2rem;
    padding: 0 2rem;
}

.fanEngagementBoxes {
    border: 1px solid #d4d4d4;
    width: 30%;
    position: relative;
    padding: 1rem;
    border-radius: 12px;
}

.fanEngagementIconBoxes {
    /* border: 1px solid blue; */
    width: 50%;
    position: absolute;
    transform: translate(50%);
    padding: 10px;
    border: 1px solid grey;
    border-radius: 6px;
}

.box1 {
    transform: rotate(-15deg);
    top: -35%;
    left: 22%;
}

.box2 {
    transform: rotate(-25deg);
    top: -31%;
    left: 21%;
}

.box3 {
    transform: rotate(10deg);
    top: -35%;
    left: 26%;
}

.box4 {
    top: -28%;
    left: 0%;
}

.fanEngagementIconBoxes img {
    height: 100%;
    width: 100%;
    background: #e8e8e8;
    border: 1px solid grey;
    border-radius: 4px
}

.fanEngagementBoxTitle {
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-align: center;
}

.screenshotContainer {
    height: 28rem;
    padding: 1.5rem;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 1px 0.2px 12px #afafaf;
}

.screenshotContainer img {
    border: 1px solid;
    height: 100%;
    border-radius: 1.5rem;
}

/* MEDIA QUERY */

@media only screen and (max-width : 400px) {
    .cardContent {
        padding: 8px !important;
    }
}

@media only screen and (max-width : 600px) {
    .aboutCardContainerDiv {
        padding: 0 1rem 0 2.5rem !important;
    }

    .cardsDiv {
        margin: auto !important;
    }

    .aboutCardTitle {
        font-size: 1.1rem !important;
    }
}


@media only screen and (max-width : 768px) {
    .aboutDesc {
        width: 90% !important;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1200px) {
    .aboutDesc {
        width: 70% !important;
    }

    .screenshotContainer {
        height: 22rem;
    }
}

@media only screen and (min-width : 992px) and (max-width : 1200px) {
    .aboutCardContainerDiv {
        padding: 0 1rem 0 2.5rem !important;
    }
}